<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      :root {
        font-family: sans-serif;
      }
    </style>
    <title>Projeto | <%= locals.title %></title>
  </head>
  <body>
    <%- include("partials/nav") %>
    <hr />
    <main><%- include(locals.template) %></main>
    <hr />
    <%# include("partials/footer") %>
  </body>
</html>
