:root {
  font-family: sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 1rem 0;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.75rem;
}

p {
  margin: 1rem 0;
  line-height: 1.15;
}

a {
  font-weight: bold;
  color: #0042bf;
}
a.danger {
  color: #f00;
}
a.blockCentered, a.blockLeft {
  display: block;
  width: fit-content;
}
a.blockCentered {
  margin: 1rem auto;
}
a.blockLeft {
  margin: 1rem 0;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

.addContent {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 0.5rem;
}
@media (min-width: 600px) {
  .addContent {
    bottom: 2rem;
    right: 2rem;
  }
}
.addContent a.button,
.addContent button {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2588235294);
}
.addContent form {
  margin: 0;
}
.addContent form input[type=file],
.addContent form button[type=submit] {
  display: none;
}

button,
a.button {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: fit-content;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
button:hover, button:focus-visible,
a.button:hover,
a.button:focus-visible {
  background-color: #eaeaea;
  outline: 1px solid #000;
}
button:active,
a.button:active {
  background-color: #000;
  color: #fff;
}
button.ok, button[type=submit],
a.button.ok,
a.button[type=submit] {
  background-color: #e9ffe9;
  border: 2px solid #008600;
  color: #000;
}
button.ok:hover, button.ok:focus-visible, button[type=submit]:hover, button[type=submit]:focus-visible,
a.button.ok:hover,
a.button.ok:focus-visible,
a.button[type=submit]:hover,
a.button[type=submit]:focus-visible {
  background-color: #cfffcf;
  outline: 1px solid #008600;
}
button.ok:active, button[type=submit]:active,
a.button.ok:active,
a.button[type=submit]:active {
  background-color: #008600;
  color: #fff;
}
button.danger,
a.button.danger {
  background-color: #ffd7d7;
  border: 2px solid #f00;
  color: #000;
}
button.danger:hover, button.danger:focus-visible,
a.button.danger:hover,
a.button.danger:focus-visible {
  background-color: #ffbfbf;
  outline: 1px solid #f00;
}
button.danger:active,
a.button.danger:active {
  background-color: #f00;
  color: #fff;
}
button.small,
a.button.small {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}
button.default,
a.button.default {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}
button.default:hover, button.default:focus-visible,
a.button.default:hover,
a.button.default:focus-visible {
  background-color: #eaeaea;
  outline: 1px solid #000;
}
button.default:active,
a.button.default:active {
  background-color: #000;
  color: #fff;
}

.contentTable .tableContainer {
  width: 100%;
  overflow-x: auto;
}
.contentTable .tableContainer table {
  width: 100%;
  white-space: nowrap;
}
.contentTable .tableContainer table thead {
  font-weight: bold;
  font-size: 0.75rem;
  text-align: center;
}
.contentTable .tableContainer table thead tr th {
  padding: 1rem;
}
.contentTable .tableContainer table tbody tr {
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}
.contentTable .tableContainer table tbody tr:hover {
  background-color: #eaeaea;
}
.contentTable .tableContainer table tbody tr td {
  vertical-align: middle;
  height: max-content;
  padding: 0.25rem;
}
.contentTable .tableContainer table tbody tr td.icon {
  width: 2rem;
}
.contentTable .tableContainer table tbody tr td.icon img {
  width: 2rem;
  height: 2rem;
}
.contentTable .tableContainer table tbody tr td.name a {
  display: block;
  padding: 1rem 0;
  text-decoration: none;
  color: #000;
}
.contentTable .tableContainer table tbody tr td.name a:hover {
  text-decoration: underline;
}
.contentTable .tableContainer table tbody tr td.size, .contentTable .tableContainer table tbody tr td.date {
  text-align: center;
}
.contentTable .tableContainer table tbody tr td.fileOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.contentTable p {
  color: #585858;
}

form {
  margin: 1rem 0;
}
form ul.formErrors,
form p.formSuccess {
  margin: 1rem 0;
  border-radius: 0.5rem;
  padding: 1rem;
  color: #000;
}
form ul.formErrors {
  background-color: #ffd7d7;
  list-style-type: disc;
}
form ul.formErrors li {
  margin: 0.5rem 0 0.5rem 2rem;
}
form p.formSuccess {
  background-color: #e9ffe9;
}
form .formRow {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}
form .formRow label {
  padding-bottom: 0.25rem;
  font-size: 1rem;
}
form .formRow label .requiredField {
  color: #f00;
}
form .formRow input[type=text],
form .formRow input[type=password] {
  width: 100%;
  border: 1px solid #000;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
form .formControls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem;
}

.folderPath {
  display: flex;
  align-items: center;
  grid-column: 1/-1;
}
.folderPath button.toggleHierarchy {
  border: 1px solid #fff;
  padding: 0.5rem;
}
.folderPath button.toggleHierarchy img {
  width: 1.5rem;
  height: 1.5rem;
}
.folderPath button.toggleHierarchy:hover {
  outline: none;
  border: 1px solid #000;
}
.folderPath button.toggleHierarchy:focus {
  border: 1px solid #000;
}
.folderPath button.toggleHierarchy:active {
  background-color: #eaeaea;
}
@media (min-width: 1200px) {
  .folderPath button.toggleHierarchy {
    display: none;
  }
}
.folderPath ul {
  display: flex;
  padding: 0.25rem 1rem 0.25rem 0;
  overflow-x: auto;
  white-space: nowrap;
}
.folderPath ul li {
  display: flex;
  align-items: center;
}
.folderPath ul li span {
  pointer-events: none;
}
.folderPath ul li b,
.folderPath ul li a {
  display: block;
  margin: 0 0.25rem;
  padding: 0.25rem;
}
.folderPath ul li a {
  text-decoration: none;
  font-weight: normal;
  color: #000;
  border-radius: 0.25rem;
}
.folderPath ul li a:hover, .folderPath ul li a:focus {
  background-color: #eaeaea;
  color: #0042bf;
  text-decoration: underline;
}

.folderTitle {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
.folderTitle h1 {
  margin: 0 0.5rem 0 0;
}
.folderTitle .options {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.foldersTree h2 {
  margin: 0 0 2rem 0;
}
.foldersTree .treeContainer {
  overflow-x: auto;
}
.foldersTree .treeContainer ul {
  margin-left: 1rem;
}
.foldersTree .treeContainer ul li a,
.foldersTree .treeContainer ul li b {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  color: #000;
}
.foldersTree .treeContainer ul li a:hover,
.foldersTree .treeContainer ul li b:hover {
  background-color: #eaeaea;
}
.foldersTree .treeContainer ul li a {
  font-weight: normal;
}
.foldersTree .treeContainer ul li a:hover {
  color: #0042bf;
  text-decoration: underline;
}
.foldersTree .treeContainer > ul {
  margin-left: 0;
}
.foldersTree .treeContainer .prefix {
  font-family: monospace;
}

footer {
  text-align: center;
  margin: 2rem 0;
}

.appHeader {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8392156863);
  backdrop-filter: blur(3px);
}
.appHeader a.logo {
  height: 1.75rem;
}
@media (min-width: 600px) {
  .appHeader a.logo {
    height: 2rem;
  }
}
.appHeader .driveUsage {
  display: flex;
  flex-flow: column;
}
.appHeader .driveUsage .numbers {
  display: flex;
  align-items: flex-end;
}
.appHeader .driveUsage .numbers .used {
  font-weight: bold;
  font-size: 1rem;
}
@media (min-width: 600px) {
  .appHeader .driveUsage .numbers .used {
    font-size: 1.5rem;
  }
}
.appHeader .driveUsage .numbers .size {
  font-size: 0.75rem;
}
@media (min-width: 600px) {
  .appHeader .driveUsage .numbers .size {
    font-size: 1rem;
  }
}
.appHeader .driveUsage .progressBar .size {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: #d3d3d3;
}
@media (min-width: 600px) {
  .appHeader .driveUsage .progressBar .size {
    height: 10px;
  }
}
.appHeader .driveUsage .progressBar .size .used {
  height: 100%;
  border-radius: inherit;
  background-color: #008600;
}
.appHeader .driveUsage .progressBar .size .used.danger {
  background-color: #f00;
}
.appHeader .navOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: rgba(0, 0, 0, 0.1);
}
.appHeader .navOverlay.visible {
  display: block;
}
.appHeader button.navToggle {
  position: relative;
  white-space: nowrap;
  border: 1px solid #000;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}
@media (min-width: 600px) {
  .appHeader button.navToggle {
    border-radius: 1rem;
    padding: 0.5rem 1rem;
  }
}
.appHeader button.navToggle .user,
.appHeader button.navToggle .arrow {
  font-size: 0.75rem;
  max-width: 125px;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (min-width: 600px) {
  .appHeader button.navToggle .user,
  .appHeader button.navToggle .arrow {
    font-size: 1rem;
    max-width: 250px;
  }
}
.appHeader button.navToggle .user {
  margin-right: 0.25rem;
}
.appHeader button.navToggle nav {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(calc(100% + 0.5rem));
  display: none;
  border-radius: 1rem;
  padding: 1rem 0;
  background-color: #fff;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2588235294);
}
.appHeader button.navToggle nav.visible {
  display: flex;
  flex-flow: column;
}
.appHeader button.navToggle nav a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  text-align: right;
  color: #000;
}
.appHeader button.navToggle nav a:hover {
  background-color: #eaeaea;
  text-decoration: underline;
}

a.logo {
  display: block;
  width: fit-content;
  padding: 0.25rem;
}
a.logo img {
  display: block;
  width: 100%;
  height: 100%;
}

.signUpPage,
.logInPage {
  display: flex;
  flex-flow: column;
  min-height: 100svh;
  margin: 0 auto;
  padding: 1rem;
}
@media (min-width: 1200px) {
  .signUpPage,
  .logInPage {
    padding: 0;
  }
}
.signUpPage a.logo,
.logInPage a.logo {
  height: 3rem;
  margin: 2rem auto;
}
.signUpPage main,
.logInPage main {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
@media (min-width: 1200px) {
  .signUpPage main,
  .logInPage main {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}
.signUpPage main .graphic,
.logInPage main .graphic {
  display: none;
  background: repeating-linear-gradient(315deg, #808181, #9eb8d6 100px);
  border-radius: 0 0 5rem 0;
}
@media (min-width: 1200px) {
  .signUpPage main .graphic,
  .logInPage main .graphic {
    display: block;
  }
}
.signUpPage main .container,
.logInPage main .container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto 2rem auto;
}
@media (min-width: 600px) {
  .signUpPage main .container,
  .logInPage main .container {
    width: 500px;
  }
}
@media (min-width: 1200px) {
  .signUpPage main .container,
  .logInPage main .container {
    margin: 1rem 5rem;
  }
}
.signUpPage main .container p,
.logInPage main .container p {
  text-align: center;
}

.folderFormPage {
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
}
@media (min-width: 600px) {
  .folderFormPage {
    margin: 2rem auto;
  }
}

.promptPage {
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
}
@media (min-width: 600px) {
  .promptPage {
    margin: 2rem auto;
  }
}

.errorPage {
  margin: 2rem;
  text-align: center;
}

.fileDetailsPage,
.sharedFilePage {
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
}
@media (min-width: 600px) {
  .fileDetailsPage,
  .sharedFilePage {
    margin: 2rem auto;
  }
}
.fileDetailsPage .properties,
.sharedFilePage .properties {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}
.fileDetailsPage .properties img,
.sharedFilePage .properties img {
  height: 4rem;
}
.fileDetailsPage .goToFolder,
.sharedFilePage .goToFolder {
  display: block;
  margin: 1rem 0;
}
.fileDetailsPage .options,
.sharedFilePage .options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.folderPage {
  display: flex;
  flex-flow: column;
  padding-bottom: 5rem;
}
.folderPage main {
  display: grid;
  gap: 2rem;
  margin: 1rem;
  grid-template-columns: 100%;
}
@media (min-width: 600px) {
  .folderPage main {
    margin: 2rem;
  }
}
@media (min-width: 1200px) {
  .folderPage main {
    grid-template-columns: 300px 1fr;
  }
}
.folderPage main .foldersTree,
.folderPage main .contentTable {
  display: none;
}
.folderPage main .foldersTree.visible,
.folderPage main .contentTable.visible {
  display: block;
}
@media (min-width: 1200px) {
  .folderPage main .foldersTree,
  .folderPage main .contentTable {
    display: block;
  }
}

.homePage {
  min-height: 100svh;
  display: flex;
  flex-flow: column;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}
.homePage header {
  display: flex;
  flex-flow: column;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}
@media (min-width: 600px) {
  .homePage header {
    flex-flow: row;
  }
}
.homePage header img {
  height: 3rem;
}
.homePage header .buttons {
  display: flex;
  gap: 0.5rem;
}
.homePage main {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  margin: 2rem;
  max-width: 700px;
  margin: 0 auto;
}
.homePage main .blocks {
  display: grid;
  grid: repeat(4, 1fr)/repeat(3, 1fr);
  gap: 0.25rem;
}
.homePage main .blocks p {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  cursor: default;
  opacity: 0.9;
  transition: opacity 100ms;
}
@media (min-width: 600px) {
  .homePage main .blocks p {
    padding: 2rem;
  }
}
.homePage main .blocks p:hover {
  opacity: 1;
}
.homePage main .blocks p:nth-of-type(1) {
  background-color: #3a0ca3;
  grid-area: 1/1/2/3;
  font-size: 1.25rem;
}
.homePage main .blocks p:nth-of-type(2) {
  background-color: #f72585;
  grid-area: 1/3/2/4;
}
.homePage main .blocks p:nth-of-type(2) span:nth-of-type(1) {
  font-size: 3rem;
}
.homePage main .blocks p:nth-of-type(2) span:nth-of-type(2) {
  font-size: 2rem;
}
.homePage main .blocks p:nth-of-type(3) {
  background-color: #7209b7;
  grid-area: 2/1/3/2;
}
.homePage main .blocks p:nth-of-type(3) span:nth-of-type(1) {
  font-size: 2rem;
}
.homePage main .blocks p:nth-of-type(3) span:nth-of-type(2) {
  font-size: 3rem;
}
.homePage main .blocks p:nth-of-type(4) {
  background-color: #7209b7;
  grid-area: 2/2/3/4;
}
.homePage main .blocks p:nth-of-type(4) span:nth-of-type(1) {
  font-size: 1.5rem;
}
.homePage main .blocks p:nth-of-type(4) span:nth-of-type(2) {
  font-size: 2.5rem;
}
.homePage main .blocks p:nth-of-type(5) {
  background-color: #7209b7;
  grid-area: 3/1/4/4;
}
.homePage main .blocks p:nth-of-type(5) span:nth-of-type(1) {
  font-size: 4rem;
}
.homePage main .blocks p:nth-of-type(5) span:nth-of-type(2) {
  font-size: 1.1rem;
}
.homePage main .blocks p:nth-of-type(6) {
  background-color: #3a0ca3;
  grid-area: 4/1/5/4;
  font-size: 1.75rem;
}
.homePage main .disclaimer {
  background-color: #ffd166;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
}

.userProfilePage,
.deleteAccount {
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
}
@media (min-width: 600px) {
  .userProfilePage,
  .deleteAccount {
    margin: 2rem auto;
  }
}

/*# sourceMappingURL=style.css.map */
