@use "../base/breakpoints";

.folderPage {
  display: flex;
  flex-flow: column;
  padding-bottom: 5rem; // To stay above the add content buttons

  main {
    display: grid;
    gap: 2rem;
    margin: 1rem;
    grid-template-columns: 100%;

    @media (min-width: breakpoints.$small) {
      margin: 2rem;
    }

    @media (min-width: breakpoints.$large) {
      grid-template-columns: 300px 1fr;
    }

    .foldersTree,
    .contentTable {
      display: none;

      &.visible {
        display: block;
      }

      @media (min-width: breakpoints.$large) {
        display: block;
      }
    }
  }
}
