<div class="deleteAccount">
  <h1>Apagar Minha Conta</h1>

  <form action="/minha-conta/apagar" method="post">
    <%- include("../partials/form-errors") %>

    <p>
      Tem certeza que deseja apagar a sua conta?
      <br />
      Todos os seus dados serão apagados com ela.
      <br />
      <b>Esta ação não pode ser desfeita!</b>
    </p>

    <div class="formRow">
      <label for="password">Digite sua senha:</label>
      <input 
        type="password"
        name="password"
        id="password"
        autocomplete="current-password"
      />
    </div>
      
    <div class="formControls">
      <a href="/minha-conta" class="button">Cancelar</a>
      <button type="submit" class="danger">Apagar a minha conta</button>
    </div>
  </form>
</div>