<div class="folderPage">
  <%- include("../partials/nav") %>
  <%- include("../partials/folder-path") %>
  
  <%# A button in the folder path will toggle between these two components %>
  <main>
    <%- include("../partials/folders-tree") %>
    <h1 class="contentTable visible">Arquivos</h1>
    <%# include("../partials/content-table") %>
  </main>
  
  <%# include("../partials/folder-options") %>
</div>

<script src="/scripts/toggle-folders-tree.js"></script>