<div class="folderPage">
  <%- include("../partials/nav") %>
  <%- include("../partials/folder-path") %>
  <%- include("../partials/folders-tree") %>
  <%# include("../partials/folder-title") %>
  <%# include("../partials/files-table") %>
  <%# include("../partials/folder-options") %>
</div>