<div class="folderPage">
  <%# A button in the folder path will toggle between these two components %>
  <main>
    <%- include("../partials/add-content") %>
    <%- include("../partials/folder-path") %>
    <%- include("../partials/folders-tree") %>
    <%- include("../partials/content-table") %>
  </main>
</div>
