<div class="folderPage">
  <%# A button in the folder path will toggle between these two components %>
  <main>
    <%- include("../partials/folder-path") %>
    <%- include("../partials/folders-tree") %>
    <%- include("../partials/content-table") %>
  </main>
</div>

<script src="/scripts/toggle-folders-tree.js"></script>
<script src="/scripts/format-client-dates.js"></script>