<h1><%= locals.title %></h1>

<form action="/minha-conta/editar-perfil" method="post">
  <%- include("../partials/form-errors") %>

  <div class="formRow">
    <label for="name">Nome completo: (opcional)</label>
    <input
      type="text"
      name="name"
      id="name"
      minlength="2"
      maxlength="250"
      value="<%= locals.values.name %>"
    />
  </div>

  <div class="formRow">
    <label for="username">Nome de usuário:</label>
    <input
      type="text"
      name="username"
      id="username"
      maxlength="50"
      required
      value="<%= locals.values.username %>"
    />
  </div>

  <fieldset>
    <legend>
      Alterar senha (deixe em branco se não quiser fazer isso agora)
    </legend>

    <div class="formRow">
      <label for="password">Senha atual:</label>
      <input type="password" name="currentPassword" id="currentPassword" />
    </div>
    <div class="formRow">
      <label for="password">Nova senha:</label>
      <input
        type="password"
        name="newPassword"
        id="newPassword"
        minlength="8"
        maxlength="50"
      />
    </div>
    <div class="formRow">
      <label for="confirmPassword">Repita a nova senha:</label>
      <input type="password" name="confirmPassword" id="confirmPassword" />
    </div>
  </fieldset>

  <div class="formControl">
    <button type="submit">Salvar alterações</button>
  </div>
</form>
