<div class="sharedFilePage">
  <h2><%= locals.file.fileName %></h2>
  
  <%- include("../partials/file-properties") %>
  
  <div class="options">
    <a 
      href="<%= `/s/${locals.file.shareCode}/baixar` %>"
      class="button"
    >
      Baixar
    </a>
  </div>
</div>