<div class="addContent">
  <form 
    id="uploadForm" 
    action="/arquivo/enviar" 
    method="post" 
    enctype="multipart/form-data"
  >
    <input type="hidden" name="folderId" value="<%= locals.folder.id %>" />
    
    <input type="file" name="file" id="file" required />

    <button type="button" id="openFileDialog" class="button">
      Escolher Arquivo
    </button>

    <button type="submit">Enviar</button>
  </form>

  <a href="/pasta/<%= locals.folder.id %>/criar" class="button">
    Nova pasta
  </a>
</div>

