<h1>Hierarquia</h1>
<ul>
  <% function renderHierarchy(allFolders) { %>
    <% allFolders.forEach(dir => { %>
      <li>
        <a href="<%= `/pasta/${dir.id}` %>"><%= dir.name %></a>
        <% if (dir.children?.length > 0) { %>
          <ul>
            <% renderHierarchy(dir.children) %>
          </ul>
        <% } %>
      </li>
    <% }) %>
  <% } %>
  <% renderHierarchy([locals.allFolders]); %>
</ul>
