<div class="folderTitle">
  <h1>
    <%= locals.folder.rootOfUserId ? "Meus Arquivos"  : locals.folder.name %>
  </h1>

  <% if (!locals.folder.rootOfUserId) { %>
    <div class="options">
      <a href="<%= `/pasta/${locals.folder.id}/renomear` %>" class="button">
        Renomear
      </a>
      
      <a href="<%= `/pasta/${locals.folder.id}/apagar` %>" class="button">
        Apagar
      </a>
    </div>
  <% } %>
</div>