<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <% if (locals.user) { %>
    <li>
      <b>Olá, <%= locals.user.name || locals.user.username %></b>
    </li>
    <li>
      <a href="/meus-arquivos">Meus arquivos</a>
    </li>
    <li>
      <a href="/minha-conta">Minha conta</a>
    </li>
    <li>
      <a href="/sair">Sair</a>
    </li>
    <% } else { %>
    <li>
      <a href="/entrar">Entrar</a>
    </li>
    <li>
      <a href="/registrar">Criar Conta</a>
    </li>
    <% } %>
  </ul>
</nav>
