<h2>Criar Pasta</h2>

<form action="<%= `/pasta/${locals.directory.id}/criar` %>" method="post">
  <label for="name">Nome:</label>
  <input type="text" name="name" id="name" maxlength="250" required />
  <button type="submit">Criar</button>
</form>
