<h2>Enviar Arquivo</h2>

<form action="/arquivo/enviar" method="post" enctype="multipart/form-data">
  <input
    type="hidden"
    name="folderId"
    value="<%= locals.folder.id %>"
  />

  <input type="file" name="file" id="file" required />

  <button type="submit">Enviar</button>
</form>
