<% if (locals.user) { %>
  <h1>Meus Arquivos</h1>
  <%- include("../partials/send-file-form") %>
  <%- include("../partials/files-table") %>
<% } else { %>
  <p>Olá! Faça log-in e comece a usar o serviço!</p>
<% } %>

<%- include("../scripts/format-client-dates") %>
