@use "../base/colors";

button,
a.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;

  background-color: colors.$bg;
  color: colors.$text;

  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;

  border: 2px solid colors.$text;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;

  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: colors.$bg-hover;
    outline: 1px solid colors.$text;
  }

  &:active {
    background-color: colors.$text;
    color: colors.$bg;
  }
}
