@use "../base/colors";

button,
a.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: fit-content;

  background-color: colors.$bg;
  color: colors.$text;

  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;

  border: 2px solid colors.$text;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;

  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: colors.$bgHover;
    outline: 1px solid colors.$text;
  }

  &:active {
    background-color: colors.$text;
    color: colors.$bg;
  }

  &[type="submit"] {
    background-color: colors.$okLight;
    border: 2px solid colors.$ok;
    color: colors.$text;

    &:hover,
    &:focus-visible {
      background-color: colors.$okHover;
      outline: 1px solid colors.$ok;
    }

    &:active {
      background-color: colors.$ok;
      color: colors.$bg;
    }
  }

  &.small {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
  }
}
