@use "../base/colors";

.contentTable {
  .tableContainer {
    width: 100%;
    overflow-x: auto;

    table {
      width: 100%;
      white-space: nowrap;

      thead {
        font-weight: bold;
        font-size: 0.75rem;
        text-align: center;

        tr {
          th {
            padding: 1rem;
          }
        }
      }

      tbody {
        tr {
          border-top: 1px solid #d3d3d3;
          border-bottom: 1px solid #d3d3d3;

          &:hover {
            background-color: colors.$bgHover;
          }

          td {
            vertical-align: middle;
            height: max-content;
            padding: 0.25rem;

            &.icon {
              $size: 2rem;
              width: $size;

              img {
                width: $size;
                height: $size;
              }
            }

            &.name {
              a {
                display: block;
                padding: 1rem 0;
                text-decoration: none;
                color: colors.$text;

                &:hover {
                  text-decoration: underline;
                }
              }
            }

            &.size,
            &.date {
              text-align: center;
            }

            &.fileOptions {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 0.25rem;

              // For vertical alignment
              padding-top: 1rem;
              padding-bottom: 1rem;
            }
          }
        }
      }
    }
  }

  p {
    color: colors.$textLight;
  }
}
