@use "../base/breakpoints";
@use "../base/colors";

.foldersTree {
  h2 {
    margin: 0 0 2rem 0;
  }

  .treeContainer {
    overflow-x: auto;

    ul {
      margin-left: 1rem;

      li {
        a,
        b {
          display: block;
          padding: 0.5rem;
          text-decoration: none;
          color: colors.$text;

          &:hover {
            background-color: colors.$bgHover;
          }
        }

        a {
          font-weight: normal;

          &:hover {
            color: colors.$link;
            text-decoration: underline;
          }
        }
      }
    }

    > ul {
      margin-left: 0;
    }

    .prefix {
      font-family: monospace;
    }
  }
}
