@use "../base/colors";
@use "../base/breakpoints";

nav {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  top: 0;
  background-color: #ffffffd6;
  backdrop-filter: blur(3px);

  a.logo {
    height: 1.75rem;

    @media (min-width: breakpoints.$small) {
      height: 2rem;
    }
  }

  .driveUsage {
    display: flex;
    flex-flow: column;

    .numbers {
      display: flex;
      align-items: flex-end;

      .used {
        font-weight: bold;
        font-size: 1rem;

        @media (min-width: breakpoints.$small) {
          font-size: 1.5rem;
        }
      }

      .size {
        font-size: 0.75rem;

        @media (min-width: breakpoints.$small) {
          font-size: 1rem;
        }
      }
    }

    .progressBar {
      .size {
        width: 100%;
        height: 5px;
        border-radius: 5px;
        background-color: #d3d3d3;

        @media (min-width: breakpoints.$small) {
          height: 10px;
        }

        .used {
          height: 100%;
          border-radius: inherit;
          background-color: colors.$ok;

          &.danger {
            background-color: colors.$danger;
          }
        }
      }
    }
  }

  .options {
    display: flex;
    gap: 1rem;
  }
}
